@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    font-family: 'Mulish', sans-serif;
}
form {
    border-radius: 20px;
    background-color: white;
    width: 612px;
    height: 536px;
    margin: 244px 0 244px 0;
    display: flex;
    gap: 30px;
    align-items: center;
    
    flex-direction: column;
}
h1 {
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 27px;
}
input {
   font-style: italic;
   width: 70%;
   height: 60px;
   border-radius: 20px;
   border: none;
   background-color: #EEEEEE ;
   font-size: 20px;
   padding-left: 20px;
   color: #A9A9A9;
}
input:hover {
    border: 1px solid #45BDB6;
}
button {
    border: none;
    border-radius: 20px;
    background-color: #45BDB6;
    width: 70%;
    text-align: center;
    height: 60px;
    font-size: 20px;
    color: white;
}
p {
    font-size: 20px;
}

